<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front-end</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Navbar icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- Javascript links -->
    <script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body>

         <!-- Navigation links of the website -->
         <div class="topnav" id="myTopnav" style="text-align: center;">
            <div class="logo" >
            <h2><a href="/">Interactive!</a></h2>
            </div>
           
        <nav>
        <li> <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars" style="font-size: 20px;"></i></a></li>
        <li><a href="/contactus">Get in touch</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a id="active" href="/">Home</a></li>
    </nav>
    </div>

    <div class="content" style="margin-top: 10%;">

      <div>
         <form action=""></form>
      </div>

    <div class="row">

        <div class="column3">
            <img src="images/plays.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Teckgeeks</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Learn more</a>
                 </div>
           </div>
        </div>

        <div class="column3">
            <img src="images/plays.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Teckgeeks</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Learn more</a>
                 </div>
           </div>
        </div>

        <div class="column3">
         <img src="images/plays.gif" alt="" width="100%">
        <div style="padding: 8%;">
         <h3>Teckgeeks</h3>
         <p>Among Web professionals, "Web development" usually refers to the main
              non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
              non-design aspects of building Web sites:</p>
              <div class="demo">
                 <a href="#">Learn more</a>
              </div>
        </div>
     </div>

    </div>

    <div class="row">

        <div class="column3">
            <img src="images/plays.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Teckgeeks</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Learn more</a>
                 </div>
           </div>
        </div>

        <div class="column3">
         <img src="images/plays.gif" alt="" width="100%">
        <div style="padding: 8%;">
         <h3>Teckgeeks</h3>
         <p>Among Web professionals, "Web development" usually refers to the main
              non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
              non-design aspects of building Web sites:</p>
              <div class="demo">
                 <a href="#">Learn more</a>
              </div>
        </div>
     </div>

        <div class="column3" style=" margin-top: 7%;">
            <img src="images/plays.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Teckgeeks</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Learn more</a>
                 </div>
           </div>
        </div>

    </div>
    </div>

    <footer class="footer">
      <a href="#" style="font-size: 20px; color: rgb(18, 18, 189);"><i class="fa fa-facebook-official"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" style="font-size: 20px; color: #1DA1F2;"><i class="fa fa-twitter"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" style="font-size: 20px; color: white;"><i class="fa fa-github"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" style="font-size: 20px; color: rgb(185, 12, 12);"><i class="fa fa-stack-overflow"></i></a> &nbsp;
      <br>

        <p>Copyright ©2021 Mustapha Ibrahim. All rights reserved</p><br>

    </footer>

    </body>
</html>