<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interactive</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Navbar icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Stick&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">

    <!-- Javascript links -->
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="type/javascript" src="javascripts/scroll-out.js"></script>

    <!-- <style>
        @import url(stylesheets/blog.css);
    </style> -->
</head>
<body>

         <!-- Navigation links of the website -->
         <div class="topnav" id="myTopnav" style="text-align: center;">
            <div class="logo" >
            <h2><a href="/">Interactive!</a></h2>
            </div>
           
        <nav>
        <li><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars" style="font-size: 20px;"></i></a></li>
        <li><a href="/contactus">Get in touch</a></li>
        <li><a href="#team">Team members</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a id="active" href="/">Home</a></li>
    </nav>
    </div>

    <div class="div1" style="background: #353e46;">
        <img src="images/ttt.png" alt="" style="float: right; height: 230px;">
        <h1>Designer, Full-stack Developer & Enthusiast</h1>
        <p>I design and code beautifully simple things, and I enjoy what I do.</p><br>
        <div class="cv">
            <a href="assets/10105929 (2).pdf">Download Cv</a>
        </div>
    </div>

    <div class="what-i-know">
        <div class="row">
            <div class="column2">
                <img src="images/coder.png" alt="image" class="p-img"/>
                <h2 style="text-align: center;">Full-stack Developer</h2>
                <p style="margin-top: 10px;">
                    Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.

                </p>
            </div>
    
            <div class="column2">
                <img src="images/designer.png" alt="image" class="p-img"/>
                <h2 style="text-align: center;">Designer</h2>
                <p style="margin-top: 10px;">
                    Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
                </p></div>
    
                <div class="column2"><img src="images/enthusiast.png" alt="image" class="p-img"/>
                    <h2 style="text-align: center;">Enthusiast</h2>
                <p style="margin-top: 10px;">
                    Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
                    </p></div>
    </div>
</div>
</div>
    </div>    

    <div class="my-things">
        <div class="container1">
            <div class="main">

                <!-- what we do -->
                <div class="what-we-do">
                    <h1 style="text-align: center; color: black;">What we do?</h1>
                    <div class="row">
                            <div class="column1" style="text-align: center;">
                                <img src="images/android2.png" alt="android_logo" style="height: 120px; width: 120px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                                <h2>Android Development</h2>
                                <p>Among Web professionals, "Web development" usually refers to the main
                                     non-design aspects of building Web sites: </p>
                            </div>
    
                            <div class="column1" style="text-align: center;">
                                <img src="images/java.png" alt="android_logo" style="height: 100px; width: 80px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                                <h2>Java</h2>
                                <p>Among Web professionals, "Web development" usually refers to the main
                                     non-design aspects of building Web sites: </p>
                            </div>

                            <div class="column1" style="text-align: center;">
                                <img src="images/python.png" alt="android_logo" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                                <h2>Python</h2>
                                <p>Among Web professionals, "Web development" usually refers to the main
                                     non-design aspects of building Web sites: </p>
                            </div>
                        
                    </div>
    
                    <div class="row">
                        
                        <div class="column1" style="text-align: center;">
                            <img src="images/node.png" alt="android_logo" style="height: 100px; width: 120px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                            <h2>Node_Js</h2>
                            <p>Among Web professionals, "Web development" usually refers to the main
                                 non-design aspects of building Web sites: </p>
                        </div>
    
                        <div class="column1" style="text-align: center;">
                            <img src="images/react.png" alt="android_logo" style="height: 100px; width: 140px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                            <h2>React_Js</h2>
                            <p>Among Web professionals, "Web development" usually refers to the main
                                 non-design aspects of building Web sites: </p>
                        </div>
    
                        <div class="column1" style="text-align: center;">
                            <img src="images/mysql.png" alt="android_logo" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5%;">
                            <h2>MySQL Databases</h2>
                            <p>Among Web professionals, "Web development" usually refers to the main
                                 non-design aspects of building Web sites: </p>
                        </div>
                    
                </div>
    
                    </div>
                </div>
        </div>
    </div>
    </div>

<div class="content" id="portfolio">
    <h1 style="text-align: center; margin-bottom: 5%;">Portfolio</h1>

    <div class="row">

        <div class="column3">
            <img src="images/plays.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Teckgeeks</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Demo</a>
                 </div>
           </div>
        </div>

  
        <div class="column3" style="margin-top: -5px;">
            <img src="images/cup.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Interactive</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Demo</a>
                 </div>
           </div>
        </div>

        <div class="column3">
            <img src="images/load.gif" alt="" width="100%">
           <div style="padding: 8%;">
            <h3>Webplays</h3>
            <p>Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites: Among Web professionals, "Web development" usually refers to the main
                 non-design aspects of building Web sites:</p>
                 <div class="demo">
                    <a href="#">Demo</a>
                 </div>
           </div>
        </div>

    </div>

</div>

<div class="about" id="about">
    <div class="row">
        <div class="column4 " style="padding-bottom: 5%;">
            <img src="images/devops.webp" alt="" class="about-img" style="float: right; height: 400px; width: 500px; margin-left: 2%;">
            <h1 style="font-size: 55px;">About Us</h1>
            <p style="margin-top: 10px;" >
                Lorem ipsum, or lipsum as it is sometimes known, is dummy 
                text used in laying out print, graphic or web designs.
                 The passage is attributed to an unknown typesetter in the
                  15th century who is thought to have scrambled parts of Cicero's 
                  De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
            <div class="learn">
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main" id="team"> 
                    <!-- Client reviews structuring -->
                    <h1 style="text-align: center; color: black;">Team Members</h1>
                    <div class="row">
                      <div class="column">
                          <img src="images/whitelady.jpg" alt="image" class="p-img2"/>
                          <h2>Emilia Wilsonburg</h2>
                          <p>
                              Joe’s academic strengths are complemented by his demonstrated 
                              leadership skills – he was our band’s drum major for two Council.
                          </p>
                      </div>
              
                      <div class="column"><img src="images/music.jpg" alt="image" class="p-img2"/>
                          <h2>Steve Ford</h2>
                          <p>
                              Joe’s academic strengths are complemented by his demonstrated 
                              leadership skills – he was our band’s drum major for two Council.
                          </p></div>
              
                          <div class="column"><img src="images/hood.jpg" alt="image" class="p-img2"/>
                              <h2>Calvin Robinson</h2>
                              <p>
                                  Joe’s academic strengths are complemented by his demonstrated 
                                  leadership skills – he was our band’s drum major for two Council.
                              </p></div>

                            </div>
    </div>
</div>

    <footer style="text-align: center;">
        <a href="#" style="font-size: 20px; color: rgb(18, 18, 189);"><i class="fa fa-facebook-official"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="font-size: 20px; color: #1DA1F2;"><i class="fa fa-twitter"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="font-size: 20px; color: white;"><i class="fa fa-github"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="font-size: 20px; color: rgb(185, 12, 12);"><i class="fa fa-stack-overflow"></i></a> &nbsp;
        <br>

        <p>Copyright ©2021 Mustapha Ibrahim. All rights reserved</p><br>
    </footer>

</body>
</html>